<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href>Ember Reddit</a>
        </div>
        <ul class="nav navbar-nav">
            {{#each}}
               <li>{{link-to this 'subreddit' this}}</li>
            {{/each}}
        </ul>
    </div>
</nav>

{{outlet}}
